In [12]:
import pandas as pd
from sqlalchemy import create_engine

In [13]:
host = "host=127.0.0.1 dbname=njtransit user=student password=student"
engine = create_engine('postgresql+psycopg2://student:student@127.0.0.1/njtransit')

In [17]:
df = pd.read_sql_table("tweets_alert", engine)

In [18]:
df.head()

,start_time,datetime,year,month,day,id_tweet,tweet
0,1558729302,2019-05-24 16:21:42+00:00,2019,5,24,1131958459442827264,UPDATE: New Brunswick Station: Inbound (Eastbo...
1,1558717837,2019-05-24 13:10:37+00:00,2019,5,24,1131910373546844160,New Brunswick Station: Inbound (Eastbound) Pla...
2,1558715065,2019-05-24 12:24:25+00:00,2019,5,24,1131898746567106562,UPDATE: New Brunswick Station: Inbound (Eastbo...
3,1558713524,2019-05-24 11:58:44+00:00,2019,5,24,1131892282624487424,"NEC train #3924, the 8:06am from Newark Penn S..."
4,1558662373,2019-05-23 21:46:13+00:00,2019,5,23,1131677738329362438,"NEC train #3867, the 5:40pm from NPS, is up to..."

In [19]:
df.count()

start_time    344
datetime      344
year          344
month         344
day           344
id_tweet      344
tweet         344
dtype: int64

In [26]:
from datetime import datetime

name_csv = "{}_migration_data.csv".format(str(datetime.now().date()).replace("-", ""))
df.to_csv(name_csv)

In [27]:
from gcloud import storage
from oauth2client.service_account import ServiceAccountCredentials

In [29]:
credentials  = ServiceAccountCredentials.from_json_keyfile_name("gcp_credentials.json")
gcp_client = storage.Client(credentials=credentials, project="njtransit")

In [30]:
bucket = gcp_client.get_bucket("njtransit")
blob = bucket.blob(name_csv)
blob.upload_from_filename(name_csv)